/* Fondo difuminado */
.fondo {
    position: fixed;          /* Queda fijo mientras se hace scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/clinica/Imagenes/Fondo.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(7px);        /* Difuminado */
    z-index: -1;              /* Detrás de la caja de login */
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;              /* altura de toda la ventana */
    display: flex;
    justify-content: center;     /* centra horizontalmente */
    align-items: center;         /* centra verticalmente */
    font-family: Arial, sans-serif;
}


/* Contenedor principal */
.main-container {
    background: #fff;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    width: 500px;
    text-align: center;
}


/* Título */
.main-container h1 {
    color: #000000;
    margin-bottom: 0.5rem;
}

/* Bienvenida */
.main-container p {
    font-size: 18px;
    margin-bottom: 2rem;
    color: #000000;
}

/* Menú */
.menu {
    margin-bottom: 2rem;
}

.menu a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    color: #040404;
    padding: 8px 16px;
    border-radius: 6px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #07426c;
    color: #ffffff;
}

.menu a.active {
    background-color: #04315fa0;
    color: white;
}
menu.A {
    background-color: #b20505;
    color: #ffffff;
}

/* Botón de cerrar sesión */
.logout-btn {
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;
    background-color: #b20505;
    color: #ffffff;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.logout-btn:hover {
    background-color: #c7c7c7;
}
.logo-container {
    text-align: center;
    margin: 20px 0;
}

.logo {
    max-width: 180px;  /* tamaño máximo */
    height: auto;      /* mantiene proporción */
}
