/* Fondo difuminado */
.fondo {
    position: fixed;          /* Queda fijo mientras se hace scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/clinica/Imagenes/Fondo.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(7px);        /* Difuminado */
    z-index: -1;              /* Detrás de la caja de login */
}


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Caja del login */
.login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    width: 320px;
    text-align: center;
}


/* Título */
.login-container h2 {
    margin-bottom: 1.5rem;
    color: #000000;
}

/* Labels */
.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #000000;
}

/* Inputs */
.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

/* Botón */
.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #1976d2;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Boton cambia color cuando se posiciona el puntero */
.login-container button:hover {
    background-color: #75b2d2;
}

/* Logo centrado y pequeño */
.login-container .logo {
    display: block;
    margin: 0 auto 15px auto;   /* Centrado horizontal, espacio debajo */
    max-width: 250px;           /* Tamaño máximo del logo */
    height: auto;               /* Mantiene proporción */
}

.message {
    text-align: center;
    margin: 15px 0;
    color: red; /* rojo para errores */
    font-weight: bold;
}


